#catalog-list {
  display: flex;
  white-space: nowrap;
  /* overflow-x: scroll; */
  /* margin-top: 12px; */
  overflow: hidden;
}

#post-comment .comment-head .comment-randomInfo {
  display: none;
}
#console > div.console-card-group > div.console-card-group-left > div {
    background: var(--card-bg);
    border: var(--style-border);
    border-radius: 12px;
    padding: 20px;
    box-shadow: var(--anzhiyu-shadow-border);
}

#article-container .highlight-tools {
  display: none;
}

#post-tools > div > div.rewardLeftButton > div.post-reward > div.reward-main > div > a {
  display: none;
}